html { height: 100%; font-family: Roboto,Arial,sans-serif; }
body { height: 100%; margin: 0; padding: 0 }
#content {
    padding: 0;
    position : absolute !important; 
    top : 43px !important;  
    right : 0; 
    bottom : 43px !important;  
    left : 0 !important;     
}
.ui-footer .ui-btn-left {
    margin-top: 1px;
}
.infoWindow h1 { 
    font-size: 20px !important;
}
.infoWindow { 
    min-height: 100px; 
    max-width: 400px;
    min-width: 300px;
    text-align: center;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
}
.infoWindow p, .infoWindow span { 
    font-size: 15px !important;
}
.infoWindow div {
    width: 100%;
}
.infoWindow a {
    display: block;
    bottom: 0;
    margin:10px auto;
    padding: 8px;
    width: 80%;
}
#popupFinal {
    background-color: white;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
    padding: 5px 15px;
}
#popupFinal h1, #popupFinal p {
    margin: 10px 5px;
}